version: "3.8"

services:
  app:
    build: .
    container_name: go_blog_app
    restart: always
    ports:
      - "8080:8080"
    env_file:
      - .env
    depends_on:
      - db
    networks:
      - go-blog-network
          volumes:
      - .:/app
    restart: unless-stopped

  db:
    image: postgres:15
    container_name: go_blog_db
    restart: always
    environment:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - go-blog-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

networks:
  go-blog-network:

volumes:
  pgdata:
